# ----------------
# DATA FILES
# ----------------

# raw big data (ไม่ต้องขึ้น GitHub)
data/

# sample data (data_samples/) — ให้ขึ้น GitHub ได้ตามปกติ
# ไม่ต้อง ignore อะไรเลยในโฟลเดอร์นี้

# ----------------
# JUPYTER
# ----------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# ----------------
# PYTHON CACHE
# ----------------
__pycache__/
*.pyc

# ----------------
# SYSTEM FILES
# ----------------
.DS_Store

# ----------------
# EDITOR SETTINGS
# ----------------
.vscode/
