# ----------------
# Ignore ALL csv files everywhere (big data not allowed)
# ----------------
*.csv
!data_samples/*.csv   # allow sample CSVs

# ----------------
# Raw data (600k rows, should not upload)
# ----------------
data/raw/*
bangkok_traffy.csv

# ----------------
# Processed data (150k / 200k / final_for_viz)
# ----------------
data/processed/*
data/processed/**/*.csv

# ----------------
# JUPYTER
# ----------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# ----------------
# PYTHON CACHE
# ----------------
__pycache__/
*.pyc

# ----------------
# SYSTEM FILES
# ----------------
.DS_Store

# ----------------
# EDITOR SETTINGS
# ----------------
.vscode/
