# ----------------
# DATA FILES (ignore raw + processed)
# ----------------

# Raw data (ใหญ่เกิน GitHub)
data/raw/*
data/raw/**/*.csv
bangkok_traffy.csv

# Processed data (150k / 200k / final_for_viz)
data/processed/*.csv
data/processed/**/*.csv

# อย่า push ไฟล์ใหญ่ เช่น 150k rows, 600k rows
*.csv

# ----------------
# JUPYTER
# ----------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# ----------------
# PYTHON CACHE
# ----------------
__pycache__/
*.pyc

# ----------------
# ENV / SECRETS
# ----------------
.env
*.env

# ----------------
# SYSTEM FILES
# ----------------
.DS_Store

# ----------------
# EDITOR SETTINGS
# ----------------
.vscode/
.idea/
